body{
   background-color: rgb(20, 20, 20);
}

nav.navbar-custom{
   background-color: rgb(20, 20, 20);
}

*{
   color: rgb(240, 255, 240);
}

main{
   margin-left: 3vw;
   margin-right: 3vw;
}

footer{
   margin: 100px 15vw 50px 15vw;
}

a.btn.dropdown-toggle:hover{
   background-color: black;
}

#layout{
   list-style-type: none;
}

#layout li{
   border: 1px solid rgb(52, 52, 52);
   padding: 3px 15px;
}

.cardBox{
   padding: 0;
   margin: 0 3px;
   transition: all .3s ease-in-out;
}

.cardBox:hover{
   transform: scale(1.2);
}

.cardBox img{
   width: 100%;
}

.iconSocial i.bi{
   padding-right: 1.5rem;
   font-size: 1.5em;
   color: rgb(159 159 159);
}

.footerInfo p{
   color: rgb(159 159 159);
   font-size: 13px;
}

.footerButton button{
   background-color: transparent;
   border: 1px solid rgb(159 159 159);
   font-size: 13px;
   color: rgb(159 159 159);
   padding: 6px 6px;
}

.footerButton button:hover{
   background-color: transparent;
   border: 1px solid white;
   font-size: 13px;
   color: white;
   padding: 6px 6px;
}

.copyright *{ 
   color: rgb(159 159 159);
   font-size: 12px;
}

.copyright p{
   display: inline;
}